body
{
    background: rgb(177, 177, 177);
    color: #333;
    text-align: left;
    font-family: "arial";
    font-size: 16px;
    margin: 0%;
    padding: 0%;
}

#cabecera
{
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: arial; 
    font-size: 16px;
    margin: 0; 
    padding: 0; 
}

#cabecera #logo
{
    width: 40px;
    vertical-align: middle;
}


#cabecera #tagline

{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.0em;
}
#container  
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 60%;
}

#post
{
    background: white;
    padding: 1em;
}